.blankstate {
    background    : #FFFFFF;
    border        : 1px solid #D2D2D2;
    border-radius : 3px;
    padding       : 32px;
    margin        : 64px auto;
    width         : 512px;
    text-align    : center;
    font-family   : AcmeSans-Light;
    font-size     : 14px;
    color         : #777879;
    line-height   : 16px;
}