.home-button {
    img {
        margin-top    : 32px;
        margin-bottom : 16px;
        margin-left   : auto;
        margin-right  : auto;
        width         : 32px;
        display       : block;
    }
    margin          : 16px;
    display         : block;
    height          : 164px;
    background      : #323436;
    border          : 1px solid #777879;
    border-radius   : 3px;
    font-family     : AcmeSans-Medium;
    font-size       : 22px;
    color           : #D2D2D2;
    text-align      : center;
    text-decoration : none;
}