{% set page_title = 'Reset Password' %}
{% extends 'layout/standard.html.twig' %}

{% block body %}
    <h1>What to do next</h1>

    <p>A password reset message has been mailed to you. Please check your email now.</p>
{% endblock %}
