{% set page_title = 'Terms and Conditions' %}
{% extends 'layout/standard.html.twig' %}

{% block body %}
  <h1>Terms and Conditions</h1>

  <h2>Description of Services</h2>
  <p>The Florida Hospital American Heart Association Training center, also known as FH AHA Training Center, is accredited by the American Heart Association (AHA) and the American Academy of Pediatrics (AAP). Training courses are available to healthcare providers and the general public/non- healthcare providers. Courses offered to the general public include Heartsaver CPR with or without automatic external defibrillator and first aid. Courses offered to healthcare providers include CPR/ AED, First Aid, BLS, ACLS, PALS, PEARS, NRP, STABLE in addition to the following Emergency Nurses Association (ENA) courses: TNCC, ENPC. The FH AHA Training Center follows the guidelines set forth by the AHA and the AAP for the delivery of provider and instructor candidate programs in these courses.</p>

  <h2>Delivery Standards</h2>
  <p>Courses are available in didactic and online format and will have a component of high and low tech simulation skills assessment whereby participants will demonstrate the techniques and skills required for course certification.</p>

  <p>All provider attendees must ensure that their provider card has not expired by the registered course date. Provider cards must be presented at the registration table the day of the course for validation of expiration date, no exceptions. For those registering for ACLS or PALS (Retrain or Fast Track courses), if your provider card has expired, you are required to take the 2-day provider course. Florida Hospital employees whose certification is mandatory for their role and present to a retrain course with an expired card will have to enroll in the full provider course with the difference of the course fee to be paid by the employee.</p>

  <p>All courses require the use of a prescribed book. Not all courses include the required book in the price. For those courses where the book is not included, as stated on the course registration page, books can be purchased at an additional cost from the FH AHA Training Center location prior to the course start date. Florida Hospital employees may rent a book from the FH AHA Training Center where available, as indicated in the course registry, but the book must be rented prior to the course start date. Failure to return the rental textbook at the completion of the course will result in the replacement cost of the book to be billed to the employee via payroll deduction.</p>

  <h2>AHA Disclaimer</h2>
  <p>The American Heart Association strongly promotes knowledge and proficiency in BLS, ACLS and PALS and has developed instructional materials for this purpose. Use of these materials in an educational course does not represent course sponsorship by the AHA. Any fees charged for such a course, except for a portion of fees needed for AHA materials, do not represent income to the Association.</p>

  <h2>Payment</h2>
  <p>We accept the following credit cards: MasterCard, Visa and American Express.</p>

  <h2>Discounts</h2>
  <p>Current Florida Hospital employees may receive a discounted price for a course if the course is not mandatory for such employee’s current position.</p>

  <h2>Refund/Return Policy/Cancellation / No Show Policy</h2>
  <p>Refunds will be provided only in accordance with the policies set forth below.</p>

  <p>There will be no refunds once a course has started.</p>

  <p>Books purchased for training courses may be returned if not damaged or opened. Refunds for training courses that include books will be less the cost of the book if the book is damaged or opened.</p>

  <p>Credit card refunds must be credited to the original card used for registration.</p>

  <p>On occasions when the FH AHA Training Center must cancel a course, the attendees will be notified by phone and/or email. Attendees enrolled in a cancelled course will have the choice of receiving a full refund or scheduling another course.</p>

  <p>PLEASE NOTE: The FH AHA Training Center adheres to the policies set by the American Heart Association. Therefore, students may be required to pass a written and/or a skills test in order to pass the course and receive a certification card. Failure to achieve passing status does not entitle the student to a refund.</p>

  <h2>Florida Hospital Employee Cancellation Policy</h2>
  <p>Due to the high volume of requests for our courses, and to accommodate another Florida Hospital employee, if a current Florida Hospital employee is unable to attend any course it is the employee’s responsibility to cancel his/her registration for the course within 24 hours of the course occurring in order to receive a refund or apply the cost of the course to a rescheduled course. If you do not notify FH AHA of your inability to attend within this time frame, you will be charged for the course as if you had attended. Cancellation for courses will need to be initiated through the FH AHA Training Center website at: http://www.floridahospitalnursing.com/professional-development/FH_AHA_Training_Center. In order to qualify for a refund or to re-schedule, you must receive a return email acknowledgement of your request, or speak with a FH AHA Training Center representative. Unanswered messages will not qualify for the refund or re-schedule policy.</p>

  <h2>Non-Employee of Florida Hospital Cancellation Policy</h2>
  <p>Due to the high volume of requests for our courses, if an individual who is not a current Florida Hospital employee needs to cancel, we require a 1 week (5 business days) cancellation notice prior to the course date. Cancellation for courses will need to be initiated through the FH AHA Training Center website at: http://www.floridahospitalnursing.com/professional-development/FH_AHA_Training_Center. If notice is provided in accordance with this requirement, you can either request a refund or reschedule and apply the course fee for another course date one time. In order to qualify for a refund or re-schedule, you must receive a return email acknowledgement of your request, or speak with a FH AHA Training Center representative. Unanswered messages will not qualify for the refund or re-schedule. If you fail to show up for the course or do not cancel the course within this specified time frame, you will be charged the full cost of the course as if you had attended. If you choose to reschedule the course, you will be charged the full course fee again.</p>

  <h2>Privacy Statement/Security</h2>
  <p>We are committed to protecting your privacy and aim to provide the highest possible level of security in your transactions. All card payments are processed securely by our payment service provider Sage Payment Solutions. Payment data will be submitted over a Secure Socket Layer (SSL) secured HTTPS link. We have a 1024-bit signed certificate provided by Verisign Trust Network which is used to protect your financial information. Certificate is visible and configured at https://www.floridahospitalnursing.com/ if you want to inspect it.</p>

  <p>Personal information obtained will be used only for the purposes to serve your needs. The FH AHA Training Center and the Nursing Website may collect demographic Information they obtain from individuals to notify persons of future Florida Hospital and FH AHA Training Center programs, events, educational opportunities and upcoming meetings. Please note that Florida Hospital and the FH AHA Training Center will not intentionally share the contents of any e-mail or form submitted through this site with any third party. However, due to the nature of electronic communications, we cannot and do not provide any representations, warranties or assurances that the contents will not become known or accessible to third parties. Personal information obtained via the web shall not be sold to third parties.</p>

  <p>To facilitate site management, information may be collected for statistical purposes. Florida Hospital computer systems can employ software programs to compile summary usage statistics, which may be used for assessing what information is relevant to users. The data so accumulated may be used to help determine technical design specifications, identify system performance, or pinpoint problem areas.</p>

  <p>If you have any questions or comments regarding the FH AHA Training Center/Nursing website security policy, please contact the Webmaster by using the link under Contact Us on the website.</p>

  <h2>Communication</h2>
  <p>Feedback and questions are always welcome on our website. There are several different email addresses for different queries. These, and other contact information, can be found on our Contact Us link on our website. Keep in mind that messages that you send to us by email (via the Contact Us links on our website pages) may not be secure. If you choose to send any confidential personal information to us via email, you accept the risk that a third party may intercept and use this information. Your feedback and questions will be shared with those employees most capable of addressing your feedback and questions.</p>

  <h2>Updates and Changes to Terms and Conditions</h2>
  <p>We reserve the right at any time to add to, change, update, or modify these Terms and Conditions simply by posting such change, update or modification to this website. Any such change, update or modification will be effective immediately upon posting.</p>

  <h2>Copyright Notice</h2>
  <p>Copyright and other relevant intellectual property rights exists on all text relating to the Florida Hospital’s services and the full content of this website. Florida Hospital’s logo is a registered trademark of Florida Hospital. The American Heart Association Logo is a registered trademark of the American Heart Association and Florida Hospital has been authorized to use it for limited purposes.</p>

  <h2>Florida Hospital Training Center</h2>
  <p>201 Park Place, Suite 321<br />
  Altamonte Springs, FL 32701<br />
  407-303-5288</p>

{% endblock %}
