{% extends 'layout/email.html.twig' %}

{% block title %}Your {{ Certification.name }} certification expires in 90 days{% endblock %}

{% block body %}
  <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 14px; padding: 0;">Your {{ Certification.name }} certification expires in 90 days</h1>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 40px; padding: 0;">Your {{ Certification.name }} Certification expires in 90 days. Enroll in a Renewal course soon to renew your certification before it expires. </p>
        
    {% include 'email/includes/button.html.twig' 
      with {'text' : 'Get Started', 
          'link' : absolute_url(path('login'))} %}
        
{% endblock %}
