{% extends 'layout/email.html.twig' %}

{% block title %}AHA &ndash; New Enrollment{% endblock %}

{% block body %}
  <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 14px; padding: 0;">You're Enrolled in {{ Enrollment.Session.Course.name }}</h1>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 40px; padding: 0;">Your registration and payment for {{ Enrollment.Session.Course.name }} has been accepted. Your course begins  {{ Enrollment.Session.date1|date('F d, Y') }} at {{ Enrollment.Session.start_time1|date('g:i A') }}. Log in to your FHTC account to view course details and materials. </p>
        
    {% include 'email/includes/button.html.twig' 
      with {'text' : 'Get Started', 
          'link' : absolute_url(path('login'))} %}
        
{% endblock %}
