{% extends 'layout/email.html.twig' %}

{% block title %}AHA &ndash; Forgot password{% endblock %}

{% block body %}
	<h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 14px; padding: 0;">Reset your Password</h1>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 40px; padding: 0;">Click on the link below to reset your FHTC account password.</p>

		{% include 'email/includes/button.html.twig' 
			with {'text' : 'Reset Password', 
				  'link' : absolute_url(path('reset', { 'token': User.token }))} %}
        
{% endblock %}
