{% extends 'layout/email.html.twig' %}

{% block title %}Your New FHTC Account Information{% endblock %}

{% block body %}
  <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 14px; padding: 0;">Your New FHTC Account Information</h1>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 40px; padding: 0;">An administrator created your FHTC account. Log in to your account to set your password and view your upcoming enrollments.</p>
        
    {% include 'email/includes/button.html.twig' 
      with {'text' : 'Get Started', 
          'link' : absolute_url(path('set_password', { 'token': User.token }))} %}
        
{% endblock %}
