{% set page_title = 'My Account' %}
{% extends 'layout/standard.html.twig' %}

{% block body %}
    <section class="boxy-form">
        <h1>My Account</h1>

        {{ form(form) }}
    </section>
{% endblock %}
