{% set page_title = 'Change My Password' %}
{% extends 'layout/standard.html.twig' %}

{% block body %}
    <section class="boxy-form">
        <h1>My Password</h1>

        {{ form(form) }}
    </section>
{% endblock %}
