{% set page_title = 'Reset Password' %}
{% extends 'layout/standard.html.twig' %}

{% block body %}
    <section class="change-password-form">
        <h3 class="change-password-form--header">Set your password</h3>

        <p class="change-password-form--copy">Please enter your password below, then enter it again to double check it is correct.</p>

        {{ form(form) }}
    </section>
{% endblock %}
