<div class="mobile-toolbar">
	<button class="mobile--menu-button" data-toggle="menu">
	    <span class="mobile--menu-button-copy">Menu</span>
	    <svg width="12" height="6" viewBox="0 0 12 6" xmlns="http://www.w3.org/2000/svg"><title>Menu-Icon</title><g fill="#FFF" fill-rule="evenodd"><rect id="menu-icon--top" width="12" height="2" rx="1"/><rect  id="menu-icon--bottom" y="4" width="12" height="2" rx="1"/></g></svg>
	</button>
    <a href="/" class="mobile--menu-logo">Home</a>
</div>